.top-nav {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
        height: 30px;
        width: 30px;
    }
    .icon-brand {
        display: flex;
        padding: 10px 0;
        align-items: center;
        .imgNike {
            padding: 0px 0px;
            height: 35px;
            width: 35px;
        }
        .imgAdidas {
            padding: 0px 0px;
            height: 35px;
            width: 35px;
        }
    }
    .singin-singup {
        padding: 5px 0;
        .signin {
            margin: 0 5px;
            border: none;
            padding: 10px 14px;
            color: white;
            &:hover {
                background-color: #F2F4F5;
                color: black;
                border-radius: 12px;
            }
        }
        .signup {
            margin: 0 5px;
            border: none;
            padding: 10px 14px;
            color: white;
            &:hover {
                background-color: #F2F4F5;
                color: black;
                border-radius: 12px;
            }
        }
    }
}