.top-nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  #profile {
    color: black;
  }
  img {
    height: 30px;
    width: 30px;
  }
  .icon-brand {
    display: flex;
    padding: 10px 0;
    align-items: center;
    .img-logo {
      padding: 0px 0px;
      height: 35px;
      width: 35px;
    }
  }
  .singin-singup {
    padding: 5px 0;
    .signin {
      margin: 0 5px;
      border: none;
      padding: 10px 14px;
      color: white;
      &:hover {
        background-color: #f2f4f5;
        color: black;
        border-radius: 12px;
      }
    }
    .signup {
      margin: 0 5px;
      border: none;
      padding: 10px 14px;
      color: white;
      &:hover {
        background-color: #f2f4f5;
        color: black;
        border-radius: 12px;
      }
    }
  }
}
