.ant-menu-title-content {
  a {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    div {
      width: 100px;
    }
  }
}
.ant-menu-submenu {
  .ant-menu-submenu-title {
    .ant-menu-title-content {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
    }
  }
}
.subItem {
  a {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    span {
      margin-right: 20px;
    }
  }
  #product-propdown {
    width: 80px;
  }
}
